priority -1
snippet example
This is an example!
endsnippet

snippet req "require a module" b
const ${1} = require('${0:$1}');
endsnippet

snippet anf "declare anonymous fn" b
const ${1} = (${2}) => {
  return ${3}
}
endsnippet
